html {
  font-size: 62.5%;
}

body {
  font-size: 3rem;
}

.row {
  display: flex;
}
.square {
  width: 3rem;
  height: 3rem;
  background-color: lightgrey;
  border: 1px solid darkgray;
  text-align: center;
}
.bomb {
  width: 3rem;
  height: 3rem;
  background-color: red;
  border: 1px solid darkgray;
  text-align: center;
}

.square:hover {
  cursor: pointer;
}