:root {
  --width: 4rem;
}

*:focus {
  outline: 0;
  outline: none;
}


html {
  font-size: 62.5%;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

body {
  font-size: var(--width);
  text-align: center;
  background-color: lightgrey;
  font-family: 'Courier New', Courier, monospace;
}

img {
  height: var(--width);
  width: var(--width);
  z-index: 100;
}

button {
  display: block;
}

#root {
  display: inline-block;
  margin-top: var(--width);
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
}

.board {
  display: inline-block;
  border: 2rem solid lightgrey;
  padding: .2rem;
  background-color: lightgrey;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reveal {
  width: var(--width);
  height: var(--width);
  padding: 2px;
}

.square {
  width: var(--width);
  height: var(--width);
  background-color: lightgrey;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.square:hover {
  background-color: grey;
}

.explode {
  background-color: orangered;
}

.bomb {
  background-image: url('bomb.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.square:hover {
  cursor: pointer;
}

.blue-text {
  color: blue;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.purple-text {
  color: purple;
}

.brown-text {
  color: brown;
}

.cyan-text {
  color: cyan;
}